<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-OneSpanPlugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OneSpanPlugin</name>
    <js-module name="OneSpanPlugin" src="www/OneSpanPlugin.js">
        <clobbers target="OneSpanPlugin" />
    </js-module><platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OneSpanPlugin">
    <param name="android-package" value="cordova.plugin.OneSpanPlugin.OneSpanPlugin" />
</feature>
</config-file>
<config-file parent="/*" target="AndroidManifest.xml" />
<source-file src="src/android/OneSpanPlugin.java" target-dir="src/cordova/plugin/OneSpanPlugin/OneSpanPlugin" />
</platform>
<platform name="ios">
    <config-file parent="/*" target="config.xml">
        <feature name="OneSpanPlugin"><param name="ios-package" value="OneSpanPlugin" />
        </feature>
    </config-file>
    <source-file src="src/ios/OneSpanPlugin.m" />
    </platform>
</plugin>